@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

hr {
  border: 1px dashed #8b8b8b;
  clear: both;
  width: 35%;
}
